body {
	background-color: #fff;
}

span{
	
}


.container {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	background: transparent;
}



.form_panel{
	width:100%;
	padding: 2em 1em;
}

.panel {
	margin-bottom: 3em;
}

.elem{
	width: 100%;
}

.item-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 150px;
	width: 300px;
}

.buttonreg{
	width: 200px;
	height: 35px;
	margin-bottom: 50px;
	align-self: flex-end;
}

